html, body {
    height: 100%;
}

.login-container {
    margin-bottom: 50px; /* Jarak dari footer */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f8f9fa; /* atau warna lainnya */
    z-index: 10; /* Agar tetap di atas konten */
  }
  
  .navbar .nav-item.ms-auto {
    position: absolute;
    right: 20px; /* Sesuaikan jaraknya */
    top: 50%; /* Sesuaikan posisinya */
    transform: translateY(-50%);
}

.transition-hover:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

